:root {
	--box_default_design: 0;
	
	/* font palette  */
	--font_title: "garage-gothic", "oso-serif-variable", Arial, Helvetica, sans-serif, serif;
	--font_current: "ff-meta-correspondence-web-p", Arial, Helvetica, sans-serif, serif;
	/* color palette */
	--color_0: black;
	--color_1: white;

	/* --color_2: magenta; */
	/* --color_3: yellow; */
	--color_2: #1f2f1c;
	--color_3: #f3b318;
	--color_4: cyan;
	/* --color_5: darkmagenta;
	--color_6: indigo; */


	/* the app color */
	--color_text_dark: var(--color_2);
	--color_text_light: var(--color_3);

	--color_text_title: var(--color_2);
	--color_text_current: var(--color_2);

	--color_global: var(--color_3);

	--color_header: var(--color_3);
	--color_footer: var(--color_2);
	--layout_bg: var(--color_3);

	--color_menu_big: var(--color_3);
	--color_menu_small: var(--color_3);


	--color_line: var(--color_2);
	--color_button: var(--color_2);

	--screen_min: 600px;

	--height_header: 48px;
	--size_header_cell: 30px;
	--height_header_cell: 30px;
	--width_header_cell: 100px;
	--width_header_max: 700px;

	--width_content_max: 800px;
}
